AWS_REGION=eu-central-1
DOCS_BUCKET_NAME=simple-rag-docs-xxx
KNOWLEDGE_BASE_ID=STCXx
DATA_SOURCE_ID=PSGxx
GENERATION_MODEL_ARN=arn:aws:bedrock:eu-central-1:xxx:inference-profile/eu.anthropic.claude-sonnet-4-5-20250929-v1:0
